.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.item {
    background: lightcoral;
    margin-bottom: 10px;
    padding: 10px 20px;
}


.accordion {
    width: 500px;
}

button {
    color: black;
    padding: 10px 20px;
    background: #f9f9f9;
    border: none;
    cursor: pointer;
}
button:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
}

button.enabled {
    background: white;
    color: lightcoral;
    border: 1px solid lightcoral;
}

.topic {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
div.topic:hover  {
    text-decoration: underline;
}

.description{
    color: white;
    padding-top: 15px;
    height: auto;
}