.content {
   height: 200px;
    overflow: auto;

}

.tabs-container {
    padding: 3rem;
    margin: 3rem;
}

.heading {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    background: yellow;
}

.tab-item {
    display: inline;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background: yellow;
}

.tab-item.active {
    background: green;
    border-color: black;
}